<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>changeShow</key>
	<string>changeShowBtn</string>
	<key>scan</key>
	<string>scanBtn</string>
	<key>skin</key>
	<string>skinBtn</string>
</dict>
</plist>
